section {
  height: 100vh;
  width: 100vw;
}
container {
  align-items: center;
}
.box {
  height: 30px;
  width: 30px;
  margin: 3px;
  border-radius: 5px;
  background-color: lightgray;
}
/* .box:hover {
  background-color: rgba(211, 211, 211, 0.1);
} */
.hho {
  background-color: blueviolet;
}
.hhc {
  background-color: lightgreen;
}
.s {
  background-color: lightskyblue;
}
.k {
  background-color: lightcoral;
}
.tempo > .box {
  background-color: black;
}
.hit {
  background-color: red;
}

