section {
  height: 100vh;
  width: 100vw;
}
container {
  align-items: center;
}
.box {
  height: 5vh;
  width: 5vh;
  margin: 3px;
  border-radius: 1.2vh;
  background-color: lightgray;
}
/* .box:hover {
  background-color: rgba(211, 211, 211, 0.1);
} */
.hhopened {
  background-color: blueviolet;
}
.hhclosed {
  background-color: lightgreen;
}
.snare {
  background-color: lightskyblue;
}
.kick {
  background-color: lightcoral;
}
/* .tempo > .box {
  background-color: black;
} */
/* .hit {

} */
.item {
  height: 60px;
  width: 60px;
}
.nope {
  display: none;
}
div.track.tempo > button, .yolo {
  background-color: black;
  border-radius: 50%;
}
.shine {
  background-color: red !important;
}

/*.Daft {
  background: #1c1c1c;
  background-image: -webkit-linear-gradient(top, #1c1c1c, #2980b9);
  background-image: -moz-linear-gradient(top, #1c1c1c, #2980b9);
  background-image: -ms-linear-gradient(top, #1c1c1c, #2980b9);
  background-image: -o-linear-gradient(top, #1c1c1c, #2980b9);
  background-image: linear-gradient(to bottom, #1c1c1c, #2980b9);
}*/

/*.Daft , .kick {
  background-color: red;
}*/