section {
  height: 100vh;
  width: 100vw;
}
container {
  align-items: center;
}
.box {
  height: 60px;
  width: 60px;
  margin: 3px;
  border-radius: 5px;
  background-color: lightgray;
}
/* .box:hover {
  background-color: rgba(211, 211, 211, 0.1);
} */
.hho {
  background-color: blueviolet;
}
.hhc {
  background-color: lightgreen;
}
.s {
  background-color: lightskyblue;
}
.k {
  background-color: lightcoral;
}
/* .tempo > .box {
  background-color: black;
} */
/* .hit {

} */
.item {
  height: 60px;
  width: 60px;
}
.nope {
  display: none;
}
div.track.tempo > button, .yolo {
  background-color: black;
  border-radius: 50%;
}
.shine {
  height: 60px;
  width: 60px;
  margin: 3px;
  border-radius: 50px;
  background-color: red !important;
}